/* bulletproof font-face syntax */

/* vars/mixins for sass and css reset */

/* ---------------------------------------- Variables ---------------------------------------- */

/* Typography baseline (in px/ratio) */

/* 20px */

/* Font stacks */

/* Colors */

/* Breakpoints (in px) */

/* ---------------------------------------- Mixins ---------------------------------------- */

/*
	MEDIA QUERY
	$point: breakpoint integer in px
	$constraint: Constraint for media query (min/max)
	$feature: Media feature of query (width/height)
*/

/* ---------------------------------------- Reset ---------------------------------------- */

blockquote,
body,
button,
caption,
cite,
dd,
dl,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
iframe,
input,
legend,
li,
ol,
p,
pre,
select,
tbody,
td,
textarea,
tfoot,
th,
thead,
tr,
ul {
	border: 0;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

h1,
h2,
h3,
h4 {
	font-weight: normal;
}

cite {
	font-style: normal;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left;
}

td,
th {
	text-align: inherit;
	vertical-align: top;
}

td img,
iframe,
.lt_ie8 img {
	vertical-align: top;
}

button,
label,
select,
input,
textarea {
	color: inherit;
	display: block;
	font: inherit;
}

textarea {
	overflow: auto;
	resize: vertical;
}

/* base styles */

/* ---------------------------------------- Grid ---------------------------------------- */

/* --------------------------- Wrapper */

.wrapper {
	margin: 0 auto;
	padding: 0 1em; /* 0 5px */
	position: relative;
	margin: 0 auto;
}

/* --------------------------- Rows */

.row {
	margin-left: -1em; /* -10px */
}

.row:before,
.row:after {
	display: table;
	content: '';
	line-height: 0;
}

.row:after {
	clear: both;
}

/* ie */

.lt_ie9 .row {
	zoom: 1;
}

/* --------------------------- Columns */

[class*="lap_"],
[class*="desk_"],
[class*="tab_"] {
	float: left;
	min-height: 1px;
	padding-left: 1em; /* 10px */
	width: 100%;
}

.palm_1_2 {
	width: 50%;
}

.palm_full {
	width: 100%;
}

.push_palm_1_2 {
	margin-left: 50%;
}

/* ---------------------------------------- Site ---------------------------------------- */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
	min-width: 320px; /*overflow-y: scroll;*/
}

body {
	color: #333333;
	font-family: "Open Sans", sans-serif;
	font-size: 62.5%; /* 10px */
	font-weight: 300;
	height: 100%;
	overflow-x: hidden;
}

/* ---------------------------------------- Base ---------------------------------------- */

/*  This section generally sets out the basic styles for the page.
	Headings, lists, anchors etc are specificed here */

/* --------------------------- Headings */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
	display: block;
	text-rendering: optimizeLegibility;
	font-weight: inherit;
}

h1,
.h1 {
	font-size: 7.5em; /* 75px */
	line-height: 0.7;
	text-align: center;
	font-family: "Mr Dafoe", cursive;
	word-spacing: 960px;
	-webkit-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	transform: rotate(-10deg);
	color: white;
	padding-top: 0.4em;
	padding-bottom: 0.5em;
	transition: all 0s linear;
}

h2,
.h2 {
	font-size: 1.8em;
	margin-bottom: 10px;
	overflow: hidden;
	padding: 0 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* --------------------------- Paragraph */

p,
.p {
	font-size: 1em; /* 16px */
	line-height: 1.5628; /* 25px */ /*margin: 0 0 1.5628em;  0 0 25px */
}

p a,
.p a {
	text-decoration: none;
	border-bottom: 1px solid #e1e1e1;
}

p a:hover,
.p a:hover {
	text-decoration: none;
}

/* --------------------------- Links */

a {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: underline;
}

/* --------------------------- List */

ul,
ol {
	font-size: 0.875em; /* 14px */
	line-height: 1.429; /* 20px */
	margin: 0 0 1.25em; /* 0 0 20px */
	zoom: 1;
}

ul {
	list-style: none;
}

ul li {
	margin: 0 0 10px;
	padding: 0 0 0 12px;
	zoom: 1;
}

ol li {
	margin: 0 0 10px 25px;
}

li > ul,
li > ol {
	font-size: 1em; /* 16px */
	margin-top: 12px;
	margin-bottom: 0;
}

ol li ul li {
	margin-left: 0;
}

ul li ol li {
	background: none;
	padding: 0;
}

/* ---------- List reset */

.list_reset {
	font-size: 1em; /* 16px */
	list-style: none;
	margin: 0;
	padding: 0;
}

.list_reset li {
	background: none;
	margin: 0;
	padding: 0;
}

/* ---------- List inline */

.list_inline li {
	display: inline-block;
}

/* --------------------------- Blockquote */

blockquote {
	font-size: 1.375em; /* 22px */
	line-height: 1.090; /* 24px */
	margin: 0 0 20px;
	text-align: center;
}

/* --------------------------- Horizontal rule */

hr,
.hr {
	display: block;
	width: 100%;
	height: 1px;
	margin-bottom: 15px;
	font-size: 0;
	line-height: 0;
	border: none;
	border-bottom: 1px solid #999;
}

/* --------------------------- Highlight state */

::-moz-selection {
	background: #0082c8; /* #0082c8 */
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #0082c8; /* #0082c8 */
	color: #fff;
	text-shadow: none;
}

/* ---------------------------------------- Site layout ---------------------------------------- */

.content {
	position: relative;
	padding: 50px 0;
	background-color: #e4e5e9;
}

/* ---------------------------------------- Navigation ---------------------------------------- */

/* ---------------------------- Primary nav */

.nav_primary {
	overflow: auto;
	height: 100%;
	text-transform: uppercase;
	font-weight: 400;
}

.nav_primary > li {
	border-bottom: 1px solid #e9e9e9;
	font-size: 1.5em;
	position: relative;
	margin-bottom: 0;
	padding-left: 0;
}

.nav_primary > li:last-child {
	border-bottom: none;
}

.nav_primary li a {
	color: #666666;
	display: block;
	padding: 17px 5px 17px 15px;
	text-decoration: none;
	position: relative;
}

.nav_primary li span {
	display: block;
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 0%;
	height: 1px;
	background-color: #333333;
	transition: all 0.2s ease;
}

.no-touch .nav_primary li:hover span {
	width: 100%;
	color: #333333;
	transition: all 0.3s ease;
}

.no-touch .nav_primary li:hover a {
	color: #333333;
}

.nav_primary li.current span,
.nav_primary li.current a {
	width: 100%;
	color: #333333;
}

/* ---------------------------------------- Header ---------------------------------------- */

.header {
	position: fixed;
	width: 100%;
	height: 45px;
	background: black;
	opacity: 0.3;
	top: 0;
	left: 0;
	z-index: 10;
	transition: top 0.3s ease;
}

/* --------------------------- Logo */

.logo {
	margin-bottom: 21px;
}

/* ---------------------------------------- Section (.section{})---------------------------------------- */

.resume {
	color: #333333;
	font-family: "Open Sans", sans-serif;
	padding: 80px 0;
}

.resume .content {
	background-color: white;
	font-weight: 400;
	padding: 30px 0;
}

.resume .designation {
	color: #666666;
}

.resume .designation:before,
.resume .designation:after {
	background-color: #666666;
}

.resume h1,
.resume .h1,
.resume h2,
.resume .h2,
.resume h3,
.resume .h3,
.resume p,
.resume .p {
	color: #333333;
	font-family: "Open Sans",sans-serif;
}

.resume h1,
.resume .h1 {
	font-size: 5em;
	line-height: 1;
	transform: none;
	word-spacing: inherit;
}

.resume h3,
.resume .h3 {
	font-size: 2em;
	text-transform: uppercase;
	margin: 20px 0 5px;
}

.resume h3 + p,
.resume .h3 + p {
	margin-top: 12px;
}

.resume h4,
.resume .h4 {
	font-size: 1.6em;
	margin-bottom: 3px;
}

.resume h4 i,
.resume .h4 i {
	font-size: 0.8em;
	color: #666666;
}

.resume .duration {
	font-size: 1.2em;
	font-style: italic;
	color: #666666;
}

.resume p {
	font-size: 1.3em;
	margin-top: 8px;
	line-height: 1.7;
}

.list_portfolio {
	margin-left: -10px;
}

.list_portfolio a {
	color: #333333;
	text-decoration: none;
	padding: 10px;
}

.list_portfolio .fa {
	margin-right: 5px;
}

.list_portfolio li {
	margin-right: 15px;
}

.list_portfolio span {
	display: inline-block;
}

/* ---------------------------------------- Footer (.footer{}) ---------------------------------------- */

/* ---------------------------------------- Heroes ---------------------------------------- */

.hero_wrapper {
	height: 100%;
	min-height: 100%;
	background-color: black;
}

.no-touch .hero_wrapper .wrapper {
	position: fixed;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	left: 50%;
	overflow: hidden;
	top: 50%;
	width: 100%;
}

.touch .hero_wrapper .wrapper {
	position: absolute;
	overflow: hidden;
	top: 50%;
	width: 100%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.header_fixed .hero_wrapper {
	position: fixed;
	top: 9px;
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	z-index: 10;
}

.hero {
	background: no-repeat 0 top #666666;
	background-position: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	transition: all 0s linear;
}

.touch .hero {
	background-position: scroll;
}

.home {
	background-image: url("//drive.google.com/file/d/0B5wGB98Rlmp4TWFNZTN3UjB6bHM/view?usp=sharing");
	background-color: #009688;
}

.designation {
	font-size: 1.5em;
	color: white;
	font-style: italic;
	text-align: center;
}

.designation:before,
.designation:after {
	background-color: white;
	content: "";
	display: inline-block;
	height: 1px;
	vertical-align: middle;
	width: 25px;
	margin: 0 10px;
}

.photo,
.web {
	margin-bottom: 40px;
}

.photo {
	background-image: url(/images/photos_mobile.jpg);
	background-color: #FF5722;
}

.web {
	background-image: url(/images/web_mobile.jpg);
	background-color: #00BCD4;
}

/* ---------------------------------------- Lists (.list_links {}) ---------------------------------------- */

/*----------------------Homepage social icon*/

.list_social {
	text-align: center;
	height: 40px;
	margin-top: 20px;
}

.list_social li {
	height: 40px;
	margin: 0;
	padding: 0;
	width: 40px;
}

.list_social .fa {
	color: white;
}

.list_social a {
	display: block;
	height: 100%;
	padding: 11px;
	width: 100%;
}

/*----------------------Resume section list*/

.list_resume li {
	margin-bottom: 20px;
}

/* ---------------------------------------- Links/Buttons (.button {})---------------------------------------- */

/* ---------------------------------------- Modules ---------------------------------------- */

/*-----------------------Slide Menu Module*/

/* Sliding Navigation Module */

.module_slidenav {
	background: #fff;
	box-shadow: 1px 1px 5px #333333;
	height: 100%;
	position: fixed;
	right: 0;
	-webkit-transform: translate3d(120%, 0px, 0px);
	-ms-transform: translate3d(120%, 0px, 0px);
	-moz-transform: translate3d(120%, 0px, 0px);
	-o-transform: translate3d(120%, 0px, 0px);
	transform: translate3d(120%, 0px, 0px);
	transition: all 0.3s ease 0s;
	width: 250px;
	z-index: 9;
}

.menu_open .module_slidenav {
	-webkit-transform: translate3d(0%, 0px, 0px);
	-ms-transform: translate3d(0%, 0px, 0px);
	-moz-transform: translate3d(0%, 0px, 0px);
	-o-transform: translate3d(0%, 0px, 0px);
	transform: translate3d(0%, 0px, 0px);
	transition: all 0.3s ease 0s;
}

.profile {
	height: 100px;
	background: url(/images/menu.jpg) #009688;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 200px;
	padding-top: 60px;
}

.avatar {
	border: 3px solid #fff;
	border-radius: 50%;
	box-shadow: 0 1px 3px #666666;
	height: 70px;
	margin: 0 auto;
	width: 70px;
	position: relative;
}

.avatar img {
	border-radius: 50%;
}

.icon_availability {
	background: none repeat scroll 0 0 #ccc;
	border: 3px solid #fff;
	border-radius: 50%;
	bottom: -12px;
	height: 18px;
	position: absolute;
	right: 24px;
	width: 18px;
}

.info {
	text-align: center;
	color: white;
	padding-top: 20px;
	font-size: 1.3em;
	font-weight: 400;
}

.info div {
	margin-bottom: 3px;
}

.info .fa {
	margin-right: 5px;
}

.module_powered {
	text-align: center;
	padding: 20px 0;
	color: #666666;
}

.module_powered ul {
	margin: 10px auto 0;
}

.module_powered ul li {
	display: inline-block;
	background: url(/images/icon_power.png) no-repeat 0 0;
	overflow: hidden;
	margin-right: 5px;
	opacity: 0.4;
	padding: 0;
	transition: opacity 0.3s ease;
}

.no-touch .module_powered ul li:hover {
	opacity: 0.9;
	transition: opacity 0.3s ease;
}

.module_powered ul a {
	width: 30px;
	height: 30px;
	display: block;
	padding: 0;
	text-indent: -200px;
}

.module_powered ul li:nth-child(2n) {
	background-position: -35px 0;
}

.module_powered ul li:nth-child(3n) {
	background-position: -68px 0;
}

/*----- Cards----------*/

.item {
	border-radius: 2px;
	box-shadow: 0 1px 2px #ccc;
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;
	background-color: white;
}

.image_wrapper {
	overflow: hidden;
	position: relative;
}

.image_wrapper img {
	max-width: 100%;
	width: 100%;
	transition: all 1s ease;
}

.image_wrapper .overlay {
	background-color: #009688;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	-ms-transform: translate3d(0, -100%, 0);
	-moz-transform: translate3d(0, -100%, 0);
	-o-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	transition: all 0.3s ease;
}

.image_wrapper span {
	color: white;
	font-size: 1.5em;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 2px solid #fff;
	border-top: 2px solid #fff;
	left: 50%;
	padding: 10px 0;
	position: absolute;
	top: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	-o-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}

.no-touch .image_wrapper:hover img {
	-webkit-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	-moz-transform: scale(1.2, 1.2);
	-o-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
}

.no-touch .image_wrapper:hover .overlay {
	-webkit-transform: translate3d(0, 0%, 0);
	-ms-transform: translate3d(0, 0%, 0);
	-moz-transform: translate3d(0, 0%, 0);
	-o-transform: translate3d(0, 0%, 0);
	transform: translate3d(0, 0%, 0);
	opacity: 0.95;
}

.external {
	top: 0;
	left: 0;
	position: absolute;
	z-index: 8;
	width: 100%;
	height: 100%;
}

.external .fa {
	color: #aaa;
}

.be .external {
	bottom: 27%;
}

.details {
	padding: 18px 10px 10px;
	text-align: center;
}

.details ul {
	color: #666666;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.details li {
	float: left;
	margin: 0 20px 0 0;
	padding: 5px 0;
}

.details li:last-child {
	margin-right: 0;
}

.details span {
	display: inline-block;
	font-size: 1.5em;
}

/* ---------------------------------------- Media block (.media{}) ---------------------------------------- */

/* ---------------------------------------- Forms ---------------------------------------- */

/*form {
	position: relative;
	zoom: 1;
}*/

/* hover/focus - for accessbility, include new style to overwrite default */

/*input:focus,
select:focus,
textarea:focus {
	outline: 0;
}

input,
textarea {
	border: 1px solid #E8E8E8;
	font-size: 0.875em;
	margin: 0 0 15px;
	padding: 8px;
	width: 100%;
}
*/

/* ---------------------------------------- Table ---------------------------------------- */

/* ---------------------------------------- Buttons ---------------------------------------- */

.header_btn_wrapper {
	color: white;
	position: fixed;
	right: 6px;
	top: 0;
	z-index: 99;
	width: 95px;
	cursor: pointer;
}

.header_btn_wrapper > span {
	display: inline-block;
	float: left;
	font-size: 1.5em;
	text-transform: uppercase;
	padding-top: 13px;
	font-weight: 400;
}

.btn_header {
	cursor: pointer;
	width: 48px;
	height: 48px;
	padding: 16px 12px;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	transition: all 0.6s ease;
	border-radius: 50%;
	background-color: transparent;
	outline: none;
}

.btn_header span {
	display: block;
	width: 100%;
	height: 2px;
	background-color: white;
	margin-bottom: 3px;
}

.btn_header span:last-child {
	margin-bottom: 0;
}

.menu_open .btn_menu {
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg);
	transition: all 0.6s ease;
}

.menu_open .btn_menu span:nth-child(1),
.menu_open .btn_menu span:nth-child(3) {
	width: 50%;
	-webkit-transform-origin: 6px 50%;
	-ms-transform-origin: 6px 50%;
	-moz-transform-origin: 6px 50%;
	-o-transform-origin: 6px 50%;
	transform-origin: 6px 50%;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	transition-delay: 2s;
	transition: all 0.6s ease;
}

.menu_open .btn_menu span:nth-child(1) {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.home_btn_wrapper {
	right: auto;
	left: 6px;
	width: 165px;
}

.home_btn_wrapper .btn_home {
	float: left;
}

.home_btn_wrapper .btn_home span:nth-child(1),
.home_btn_wrapper .btn_home span:nth-child(3) {
	width: 50%;
	-webkit-transform-origin: 6px 50%;
	-ms-transform-origin: 6px 50%;
	-moz-transform-origin: 6px 50%;
	-o-transform-origin: 6px 50%;
	transform-origin: 6px 50%;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	transition-delay: 2s;
	transition: all 0.6s ease;
}

.home_btn_wrapper .btn_home span:nth-child(1) {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* ---------------------------------------- Videos (.videos{}) ---------------------------------------- */

/* ---------------------------------------- Animation ---------------------------------------- */

/*==================================== View Animations ====================================*/

.view-animation {
	transition: all 0.6s ease;
	height: 100%;
}

.view-animation.ng-enter {
	opacity: 0;
	transform: translate3d(0, -5%, 0);
}

.view-animation.ng-enter.ng-enter-active {
	opacity: 1;
	transform: translate3d(0, 0%, 0);
	transition-delay: 0.5s;
}

.view-animation.ng-leave {
	opacity: 1;
	transform: translate3d(0, 0%, 0);
}

.view-animation.ng-leave.ng-leave-active {
	opacity: 0;
	transform: translate3d(0, 5%, 0);
}

.ng-hide {
	display: none !important;
}

/* OOCSS and utilities */

/* print stylesheet */

@media screen and (min-width: 29.9375em) {

h1,
.h1 {
	font-size: 11.5em; /* 115px */
}

.home h1,
.home .h1 {
	font-size: 10em; /* 115px */
}

.home {
	background-image: url(/images/home_tab.jpg);
}

.photo {
	background-image: url(/images/photos_tab.jpg);
}

.web {
	background-image: url(/images/web_tab.jpg);
}

}

@media screen and (min-width: 37.5em) {

.tab_1_6 {
	width: 16.666666666666664%;
}

.tab_1_3 {
	width: 33.33333333333333%;
}

.tab_1_2 {
	width: 50%;
}

.tab_2_3 {
	width: 66.66666666666666%;
}

.tab_5_6 {
	width: 83.33333333333334%;
}

.tab_full {
	width: 100%;
}

/* --------------------------- Offsets */

.push_tab_1_6 {
	margin-left: 16.666666666666664%;
}

.push_tab_1_3 {
	margin-left: 33.33333333333333%;
}

.push_tab_1_2 {
	margin-left: 50%;
}

.push_tab_2_3 {
	margin-left: 66.66666666666666%;
}

.push_tab_5_6 {
	margin-left: 83.33333333333334%;
}

}

@media screen and (min-width: 50em) {

.wrapper { /*  .wrapper max-width is 20px more than site width to account for left/right gutters */
	max-width: 97em; /* 970px */
}

.lap_1_6 {
	width: 16.666666666666664%;
}

.lap_1_3 {
	width: 33.33333333333333%;
}

.lap_1_2 {
	width: 50%;
}

.lap_2_3 {
	width: 66.66666666666666%;
}

.lap_5_6 {
	width: 83.33333333333334%;
}

.lap_full {
	width: 100%;
}

/* --------------------------- Offsets */

.push_lap_1_6 {
	margin-left: 16.666666666666664%;
}

.push_lap_1_3 {
	margin-left: 33.33333333333333%;
}

.push_lap_1_2 {
	margin-left: 50%;
}

.push_lap_2_3 {
	margin-left: 66.66666666666666%;
}

.push_lap_5_6 {
	margin-left: 83.33333333333334%;
}

h1,
.h1 {
	font-size: 20em; /* 200px */
}

.home h1,
.home .h1 {
	font-size: 16em; /* 200px */
}

blockquote {
	font-size: 1.75em; /* 28px */
	line-height: 1.143; /* 32px */
}

.resume .row {
	margin-left: -8em; /* -10px */
}

.resume [class*="lap_"],
.resume [class*="desk_"],
.resume [class*="tab_"] {
	padding-left: 8em; /* 10px */
}

.designation:before,
.designation:after {
	width: 50px;
	margin: 0 15px;
}

}

@media screen and (min-width: 64em) {

.home {
	background-image: url(/images/home.jpg);
}

.photo {
	background-image: url(/images/photos.jpg);
}

.web {
	background-image: url(/images/web.jpg);
}

}

