<div class="resume">
    <div class="wrapper">
        <div>
            <h1>{{resumeData.name}}</h1>
            <h2 class="designation">{{resumeData.designation}}</h2>
        </div>

        <div class="content">
            <div class="row">
                <div class="lap_1_2">

                    <!-- About -->
                    <h3>{{resumeData.heading}}</h3>
                    <p>{{resumeData.about}}</p>

                    <!-- Skills -->
                    <h3>{{resumeData.skills.heading}}</h3>
                    <ul class="list_reset list_resume">
                        <li ng-repeat="skill in resumeData.skills.description">
                            <h4>{{skill.name}}</h4>
                            <span class="duration">{{skill.level}}</span>
                        </li>
                    </ul>
                    
                    <!-- Education -->
                    <h3>{{resumeData.education.heading}}</h3>
                    <ul class="list_reset list_resume">
                        <li ng-repeat="edu in resumeData.education.description">
                            <h4>{{edu.name}}</h4>
                            <span class="duration">{{edu.duration}}</span>
                        </li>
                    </ul>

                    <!-- Web Presence -->
                    <h3>{{resumeData.presence.heading}}</h3>
                    <ul class="list_reset list_resume list_inline list_portfolio">
                        <li ng-repeat="service in resumeData.presence.description">
                            <a ng-href="{{service.url}}" title="{{service.name}}">
                                <i class="fa fa-lg {{'fa-'+service.name}}"></i> 
                                <span>{{service.username}}</span>
                            </a>
                        </li>
                    </ul>
                    
                </div>

                <div class="lap_1_2">
                    <!-- Work Experience -->
                    <h3>{{resumeData.work.heading}}</h3>
                    <ul class="list_reset list_resume">
                        <li ng-repeat="company in resumeData.work.description">
                            <h4>{{company.name}} / <i>{{company.designation}}</i></h4>
                            <span class="duration">{{company.duration}}</span>
                            <p>{{company.summary}}</p>
                        </li>                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
<a target="_blank" id="resume_download" ng-href="uploads/resume.pdf" class="btn_download"><i class="fa fa-lg fa-download"></i> <span>Download Resume</span> </a>

</div>
