<div class="resume">
    <div class="wrapper">
        <div>
            <h1>Surendra Vikram Singh</h1>
            <h2 class="designation">User Interface Developer</h2>
        </div>

        <div class="content">
            <div class="row">
                <div class="lap_1_2">
                    <h3>About</h3>
                    <p>India based UI Developer with a broad experience in developing high-performance, cross-browser compatible &amp; responsive web applications using front-end technologies like HTML, CSS &amp; Javascript. Being a self taught designer/developer, worked on Angular JS, Facebook, Behance &amp; 500px API for personal projects. Worked on projects like Alcatel-lucent, SABMiller, Sainsbury &amp; NATS. Projects are showcased by ELLE, The Hindu &amp; Smashing Magazine.</p>
                    <h3>skills</h3>
                    <ul class="list_reset list_resume">
                        <li>
                            <h4>Adobe Photoshop</h4>
                            <span class="duration">Intermediate</span>
                        </li>
                        <li>
                            <h4>Adobe Illustrator</h4>
                            <span class="duration">Intermediate</span>
                        </li>
                        <li>
                            <h4>HTML &amp; CSS</h4>
                            <span class="duration">Proficient</span>
                        </li>
                        <li>
                            <h4>Javascript</h4>
                            <span class="duration">Intermediate</span>
                        </li>
                    </ul>

                    <h3>Education</h3>
                    <ul class="list_reset list_resume">
                        <li>
                            <h4>Diploma In Web Designing</h4>
                            <span class="duration">TGC, New Delhi- 2008-2009</span>
                        </li>
                        <li>
                            <h4>CSIT, Bhilai- 2003-2007</h4>
                            <span class="duration">B.E In Electrical &amp; Electronics</span>
                        </li>
                    </ul>
                    <h3>Contact</h3>
                    <ul class="list_reset list_resume list_inline list_portfolio">
                        <li><a href="https://dribbble.com/svsdesigns"><i class="fa fa-lg fa-dribbble"></i> <span>svsdesigns</span></a></li>
                        <li><a href="https://www.behance.net/svsdesigns"><i class="fa fa-lg fa-behance"></i> <span>svsdesigns</span></a></li>
                        <li><a href="https://in.linkedin.com/in/svsdesigns"><i class="fa fa-lg fa-linkedin"></i> <span>svsdesigns</span></a></li>
                        <li><a href="http://stackoverflow.com/users/1160568/svs"><i class="fa fa-lg fa-stack-exchange"></i> <span>svs</span></a></li>
                        <li><a href="https://www.flickr.com/photos/svsclicks"><i class="fa fa-lg fa-flickr"></i> <span>svsclicks</span></a></li>
                    </ul>
                </div>
                <div class="lap_1_2">
                    <h3>Work Experience</h3>
                    <ul class="list_reset list_resume">
                        <li>
                            <h4>Synechron / <i>Sr. Associate - Software</i></h4>
                            <span class="duration">April 2013 - September 2014</span>
                            <p>Developed complex, cross-browser compatible, responsive websites using SASS, Grunt and custom 
                                Boilerplate for good maintenance and seamless workflow. Worked on projects like Alcatel-lucent, 
                                SABMiller, Sainsbury, NATS, UAE PMO, Strutt and Parker, MSL Group UK &amp; 24/7 Media.
                            </p>
                        </li>
                        <li>
                            <h4>Fabulloso / <i>UI Designer/Developer</i></h4>
                            <span class="duration">December 2011 - April 2013</span>
                            <p>Designed, developed and implemented themes for Magento &amp; Wordpress. Keeping user-centric designs 
                                in mind developed interactive features &amp; easy to use interfaces using latest web technologies and various 
                                UX techniques. Worked on code optimization and various cross-browser compatibilities. Websites 
                                showcased by ELLE &amp; The Hindu.</p>
                        </li>
                        <li>
                            <h4>Knowlarity Communication / <i>UI Designer/Developer</i></h4>
                            <span class="duration">September 2010 - December 2011</span>
                            <p>Responsible for front-end design &amp; development of complex web based applications in coordination with
                                developers. Developed templates using latest technologies (HTML5, CSS3 &amp; Jquery). Designed Android 
                                User interface for one of the major Government projects.</p>
                        </li>
                        <li>
                            <h4>Digisoft Pvt. Ltd. / <i>Web Designer</i></h4>
                            <span class="duration">January 2009 - August 2010</span>
                            <p>Worked independently for designing and developing xhtml websites. Designed &amp; developed websites for 
                                Jaypee Cement, Flex Foods &amp; many more reputed companies. Also worked on Joomla template 
                                customization &amp; Search Engine Optimization.</p>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
